@import "colors/colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "BigBlueTermPlus Nerd Font Propo";  
    /*color : #ffffff;*/
}

/* Waybar General*/
window#waybar {
    background-color: rgba(43, 48, 59, 0.4);
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}
window#waybar.hidden {
    opacity: 0.2;
}
window#waybar.termite {
    background-color: #3F3F3F;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* Workspace and Window Props */
#workspaces {
    font-size: 18px;
    margin: 0 0 2px 0;
    background: rgba(50, 20, 20, .3);
}
#workspaces button {
    background-color: transparent;
    color: #ffffff;
}
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}
#workspaces button.focused, #workspaces button.active {
    box-shadow: inset 0 1px darkgrey;
}
/*#workspaces button.urgent {
    background-color: #eb4d4b;
}*/

/* GET THIS TO SHOW FOCUS LIKE WORKSPACES DO */
#window {
    padding: 2px 8px 0 8px;
    border-left: 1px solid black;
    border-right: 1px solid black;

    background: rgba(50, 20, 20, .3);
    /*background-color: #1f1f1f;*/
    margin: 0 0 2px 0;
    font-size: 14px;
}

window#waybar.empty #window {
    background: rgba(0, 0, 0, 0);
    border: 0px solid black;
}

/* Generic Styles*/
#clock,
#pulseaudio,
#tray,
#custom-media,
#custom-power,
#custom-hyprpicker,
#gamemode
{
    font-size: 20px;
    padding: 0px 8px 0 8px;
    color: #ffffff;
}

/* Module specifics */
#clock {
    background: rgba(50, 20, 20, .3);
    border: 3px ridge grey;
    padding: 2px 8px 0 8px;
}
#custom-ff {
    padding-left: 4px;
    padding-right: 4px;
}
#custom-ff:hover {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
#custom-zenSearch {
    padding: 0 10px 0 10px;
    margin-right: 16px;
    background-color: rgba(90, 80, 85, 0.5);
    font-size: 18px;
}
#custom-hyprpicker {
    background-color: rgba(255, 182, 193, 0.75);
}
#custom-power {
    background-color: rgba(90, 80, 85, 0.75);
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ffebcd;
    color: #2d3436;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
}

#pulseaudio {
    padding: 0 10px 0 10px;
    background-color: #f1c40f;
    color: #000000;
}
#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}
#pulseaudio:hover {
    background-color: #a37800;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
label:focus {
    background-color: #000000;
}


#tray {
    background-color: #2980b9; 
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* May implement these, look into hyprland privacy as well */
#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}


/* If workspaces is the leftmost module, omit left margin 
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
 If workspaces is the rightmost module, omit right margin 
  .modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}*/

